
p {font-family: 'Calibri', serif;
		  color: red;text-align: center;
		  font-size:35px;}
h1 {font-family: 'Papyrus', serif;
	color: red;text-align: center;
	font-size: 125px;margin: 0px}
h2 {color: blue;
	font-size: 40px;
	font-family: 'Papyrus', serif;}
h3 {color: black;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;}
h4 {background-color:green;}
b {background-color: grey;}

.tab { margin-left: 40px;}
.bub{font-weight: bolder;
	 color:purple;}



	 	.wrapper{
	 		display:grid;
	 		/* grid-template-columns:1fr 1fr 1fr;*/
	 		grid-template-columns:1fr 2fr 1fr;
	 		* grid-auto-rows:100px; */
	 		grid-auto-rows: minmax(100px,);
	 	}

	 	.nested{
	 		display:grid;
	 		grid-template-columns: 1fr 2fr 1fr;
	 		grid-auto-rows: 100px;
	 		 	}

	 	.wrapper > div{
	 		background:#eee;
	 		padding:1em;
	 	}
	 	.wrapper > div:nth-child(odd){
	 		background:#ddd;
	 	}

	 	.nested > div{
	 		border:#333 1px solid;
	 		padding:1em;
	 	}




			 	.beast{
			 		display:grid;
			 		grid-template-columns: 1fr 1fr 1fr;
			 		grid-auto-rows: 100px;
			 		 	}





			 	.beast > div{
			 		border:#333 1px solid;
			 		padding:1em;
			 	}



			














		#navbar {
		    background-color: #333; /* Black background color */
		    position: fixed; /* Make it stick/fixed */
		    top: -50px; /* Hide the navbar 50 px outside of the top view */
		    width: 100%; /* Full width */
		    transition: top 0.3s; /* Transition effect when sliding down (and up) */
		}

		/* Style the navbar links */
		#navbar a {
		    float: left;
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 15px;
		    text-decoration: none;
		}

		#navbar a:hover {
		    background-color: #ddd;
		    color: black;
		}
